body {
    height: 100%;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}
header {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #003399;
    padding: 20px;
}
img {
    display: block;
    width: 3.1em;
    height: auto;
}
nav ul {
    margin-top: -1.90em;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0 1em;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.promo {
    text-align: center;
    padding: 9.21875em;
    background-color: #0056b3;
    color: white;
}
.no-underline {
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.promo h1 {
    margin-left: -1em;
    text-align: left;
    font-size: 2.5em;
}
.promo button {
    margin-left: 100px; /*отступ с лева*/
    display: block; /*что бі кнопка заняла свою строку*/
    background-color: #f3c614;
    border: none;
    padding: 0.65em 2em;
    font-size: 1em;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1.288em;
    background-color: #003399;
    color: white;
}
.phone {
    display: block;
    width: 250px;
    height: auto;
    position: absolute;
    right: 34.375em;
    top: 7.5em;
}
.phone2 {
    display: block;
    position: absolute;
    right: 4em;
    top: 7.375em;
    width: 37.5em;
    height: auto;
}
.no-under1 {
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.text-button {
    display: inline-block;
    padding: 0.3125em;
    border: 0.0625em solid white;
    color: white;
    background-color: #003399;
}

@media (max-width: 600px) {
    .responsive-image {
        display: none; /* Скрываем изображение */
    }
}
@media (max-width: 1200px){
    .phone, .phone2 {
     display: none;
    }
}
@media (max-width: 675px){
    .title {
        font-size: auto;
        width: auto;
    }
}


