body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}
header {
    background-color: #003399;
    padding: 20px;
}
img {
    max-width: 100%;
    width: 50px;
    height: auto;
}
nav ul {
    margin-top: -30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;}
.promo {
    text-align: center;
    padding: 247px;
    background-color: #0056b3;
    color: white;
}
.promo button {
    margin-left: 100px; /*отступ с лева*/
    display: block; /*что бі кнопка заняла свою строку*/
    background-color: #f3c614;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 19px;
    background-color: #003399;
    color: white;
}
.nav-batton { /*кнопка*/
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #003399;
}
.telgrag{ /*фотография телеграма*/
    max-width: 100%;
    position: absolute;
    top: 140px;
    left: 10px;
    width: 130px;
    height: auto;
}
.telegram-gryp { /*надпись телеграм*/
    text-decoration: none;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 180px;
    left: 170px;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #0056b3;
}
.instagram {
    max-width: 100%;
    position: absolute;
    top: 300px;
    left: -50px;
    width: 250px;
    height: auto;
}
.instagram-gryp {
    text-decoration: none;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 345px;
    left: 170px;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    color: white;
    background-color: #0056b3;
}
.tabll {
    max-width: 100%;
    position: absolute;
    top: 70px;
    right: 100px;
    width: 725px;
    height: auto;
}
@media (max-width: 1200px){
    .tabll {
        display: none;
    }
}
